@model List<university.Models.University_project.Entities.Student>
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title </h2>
<table>
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Mid Name
        </th>
        <th>
            Enrollment Date
        </th>
        <th></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
    else
    {
<tr> <td colspan="4">Records are not available.</td></tr>
    }
</table>
